.about{
    max-width: 100vw;
    margin: auto;
    display: grid;
    z-index: -1;
    background-color: rgb(173, 172, 239);
}

.about h1{
    text-align: center;
    color: black;
    padding: 1rem 0;
}
.about h2{
    padding: 1rem 1rem;
}
.about ul li{
    padding: 0.5rem 1.5rem;
    font-size: 1.2rem;
}
.about hr{
    margin-top: 0.5rem;
    border-color: black;
}
.about .last{
    padding-bottom: 2rem;
}